.ant-dropdown-trigger {
    display: flex !important;
    width: 250px !important;
    height: 50px !important;
    padding: 0px 20px !important;
    color: white !important;
    background-color: #d9643a !important;
    font-weight: bold !important;
    border: none !important;
}

.ant-dropdown-trigger .ant-space {
    display: flex;
    justify-content: space-between;
    width: 250px !important;
    height: 50px !important;   
}

.ant-dropdown-menu-item {
    max-width: 250px !important;
    margin: 3px 0px !important;
    background-color: #D9D9D9 !important;
    height: 30px !important;
    border-radius: 0px !important;
    color: gray !important;
}

.ant-dropdown-menu-item:hover {
    background-color: #bdbdbd !important;
}

.ant-dropdown-menu {
    border-radius: 0px !important;
    background-color: transparent !important;
    border: none !important;
}
