.register-wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.register {
    padding-top: 50px;
}

.register h1{
    font-size: 50px;
}

.register .form-group button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #D9643A;
    color: #E5E5E5;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.input-error {
    color: rgb(221, 1, 1);
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}
