.card {
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9643a;
    cursor: pointer;
}

.card .title {
    font-size: 14px;
    font-weight: bolder;
}

.card:hover {
    background-color: #b45430;
}
